html{
    font-family: 'Patrick Hand SC', cursive;
}

h1{
    text-align: center
}

h2{
    text-align: center
}
#menu li{
  display:inline;
    
    
}
#menu ul{
  list-style:none;
  border: 3px solid #000;
    border-style: dotted;
    border-left: none;
    border-right: none;
    
    
}
#menu a{
  text-decoration:none;
    color:black;
    font-size: 20px;
    margin-left: 6em;
    
    
}

img{
    
    
}
.box{
    position: absolute;
    top:10px;
    width:120px;
}